{% extends 'layout.html' %}
    {% block body %}
        <h1 style="font-size: 400%; font-family: 'Biryani', sans-serif; font-weight: 700;"  class="text-center">About</h1>
        <hr>
        <p>
            Welcome! I am a beginning programmer from West Virginia, currently based in Greenville, SC. I started learning to code in October of 2016. This site is my first dynamic application built with the Python framework Flask. It will be used to post code, articles, my music, and anything I find interesting and want to share. 

        </p>    

        <div class="row"></div>

    


            
    {% endblock %}
