{% extends 'layout.html' %}
    {% block body %}
        <h1 style="font-size: 400%; font-family: 'Biryani', sans-serif; font-weight: 700;"  class="text-center">Code</h1>
        
            

        <div class="row"></div>

        <hr>
        {% for post in posts %}
            <h1>{{post.title}}</h1>
                <p>Written by {{post.author}} on {{post.create_date}}</p>
                <div>
                    {{post.body | safe}}
                </div>      
        {% endfor %}



            
    {% endblock %}
